<h1>Between TABLE and TR</h1>

<table border="1px solid black">
  if something
  <tr>
    <td>
      oodles
    </td>
  </tr>
  else
  <tr>
    <td>
      noodles
    </td>
  </tr>
  endif
</table>

<hr>

<table border="1px solid black">
  <tr>
    <td>
      if something
    </td>
  </tr>
  <tr>
    <td>
      oodles
    </td>
  </tr>
  <tr>
    <td>
      else
    </td>
  </tr>
  <tr>
    <td>
      noodles
    </td>
  </tr>
  <tr>
    <td>
      endif
    </td>
  </tr>
</table>

<h1>Between TR and TD</h1>

<table border="1px solid black">
  <tr>
    if something

    <td>
      oodles
    </td>

    else

    <td>
      noodles
    </td>

    endif
  </tr>
</table>

<hr>

<table border="1px solid black">
  <tr>
    <td> <!-- add -->
      if something
    </td> <!-- add -->
  </tr> <!-- add -->
  <tr> <!-- add -->

    <td>
      oodles
    </td>

  </tr> <!-- add -->
  <tr> <!-- add -->
    <td> <!-- add -->
      else
    </td> <!-- add -->
  </tr> <!-- add -->
  <tr> <!-- add -->

    <td>
      noodles
    </td>

  </tr> <!-- add -->
  <tr> <!-- add -->
    <td> <!-- add -->
      endif
    </td> <!-- add -->
  </tr>
</table>
